content/songs/*/*.pdf
content/songs/*/*.mscz
content/songs/*/*.svg
content/songs/*/*.png

scores/*/audiosettings.json
scores/*/META-INF
scores/*/Thumbnails
scores/*/tmp.mscx
scores/*/viewsettings.json
