{{ define "main" }}

{{ $basename := .File.ContentBaseName }}

<h1>{{ .Title}}</h1>

<p class="lead">
  {{ if (eq .Params.composers .Params.lyricists) }}
    Music and lyrics by <strong>{{ delimit .Params.composers ", " " & "}}</strong>
  {{ else }}
    Music by <strong>{{ delimit .Params.composers ", " " & "}}</strong>
    {{ if .Params.lyricists }}
      | Lyrics by <strong>{{ delimit .Params.lyricists ", " " & " }}</strong>
    {{ end }}
  {{ end }}
  | Published in <strong>{{ .Params.year }}</strong>
</p>

<div class="row">
  <div class="col">
    <h2>Lead Sheet</h2>
    <p class="fs-4 mb-0"><a href="{{ .File.ContentBaseName }}.pdf">PDF (original key)</a></p>
    <p class="fs-5 mt-0">
        {{ range slice "cb" "gb" "db" "ab" "eb" "bb" "f" "c" "g" "d" "a" "e" "b" "f#" "c#"}}
        <a href="{{ $basename }}_{{ . }}.pdf">{{ title . }}</a>
        &nbsp;
        {{ end }}
    </p>
    <p class="fs-4"><a href="{{ .File.ContentBaseName }}.mscz">MuseScore Studio file</a></p>
    <h2>Resources</h2>
    {{ if .Params.imslp }}
      <p>
        <a href="{{ .Params.imslp }}">{{ .Title }}</a>
        on IMSLP
      </p>
    {{ end }}
    {{ if .Params.jazzstandards }}
      <p>
        <a href="{{ .Params.jazzstandards }}">{{ .Title }}</a>
        on JazzStandards.com
      </p>
    {{ end }}
    {{ if .Params.wikipedia }}
      <p><a href="{{ .Params.wikipedia }}">{{ .Title }}</a>
      on Wikipedia</p>
    {{ end }}
  </div>

  <div class="col">
    <img style="width: 100%" src="{{ .File.ContentBaseName }}.png" />
  </div>
</div>

<!-- TODO Add other songs by composer and lyricist -->

{{ end }}
