{{ define "main" }}

{{ $basename := .File.ContentBaseName }}


<div class="row">
  <div class="col mt-1">
    <div id="songPreview">
        <img style="width: 100%; margin-top: 5px;" data-src="{{ .File.ContentBaseName }}.png" />
    </div>
  </div>


  <div class="col-lg-6 col-sm-12">
    <h1>{{ .Title}}</h1>

    <p class="lead">
      {{ if (eq .Params.composers .Params.lyricists) }}
        Music and lyrics by <strong>{{ delimit .Params.composers ", " " & "}}</strong>
      {{ else }}
        Music by <strong>{{ delimit .Params.composers ", " " & "}}</strong>
        {{ if .Params.lyricists }}
          <br>Lyrics by <strong>{{ delimit .Params.lyricists ", " " & " }}</strong>
        {{ end }}
      {{ end }}
      <br>Published in <strong>{{ .Params.year }}</strong>
    </p>

    <h3>Downloads</h3>
    <p id="copyrightWarning" class="text-danger">Tunes on Freed Jazz are thought
    to be free of copyright restrictions in the United States. They may still be
    under copyright in other countries. If you’re not located in the United
    States, you must check your local laws to verify that each tune is free of
    copyright restrictions in the country you’re located in before accessing,
    downloading, or using them. Check this work's <a href="{{ .Params.imslp
    }}">IMSLP page</a> for more information about its copyright status.
    <br />
    <a style="float: right" href="javascript:hideCopyightWarning()">Hide this warning</a></p>

    <h4 style="font-weight: bold;"><a href="{{ .File.ContentBaseName }}.pdf">Lead sheet</a></h4>
    <h5><a href="{{ .File.ContentBaseName }}_bass.pdf">Bass clef lead sheet</a></h4>
    <h5 class="col"><a href="{{ .File.ContentBaseName }}.mscz">MuseScore Studio file</a></h4>

    <table class="table" style="caption-side: top;">
      <caption>Transpositions (beta)</caption>
      <thead>
        <tr>
          <th>Clef</th>
          <th colspan="15">Key</th>
        </tr>
      </thead>
      <tr>
        <td>Treble</td>
        {{ range slice "c" "c#" "db" "d" "eb" "e" "f" "f#" "gb" "g" "ab" "a" "bb" "b" "cb" }}
          <td><a href="{{ $basename }}_{{ . }}.pdf">{{ title . }}</a></td>
        {{ end }}
      </tr>
      <tr>
        <td>Bass</td>
        {{ range slice "c" "c#" "db" "d" "eb" "e" "f" "f#" "gb" "g" "ab" "a" "bb" "b" "cb" }}
          <td><a href="{{ $basename }}_{{ . }}_bass.pdf">{{ title . }}</a></td>
        {{ end }}
      </tr>
    </table>


    <h3>Resources</h2>
    <h5>
      {{ if .Params.imslp }}
          <a href="{{ .Params.imslp }}">IMSLP</a>
      {{ end }}
      {{ if .Params.jazzstandards }}
        | <a href="{{ .Params.jazzstandards }}">JazzStandards.com</a>
      {{ end }}
      {{ if .Params.wikipedia }}
        | <a href="{{ .Params.wikipedia }}">Wikipedia</a>
      {{ end }}
    </h5>
  </div>
</div>

<!-- TODO Add other songs by composer and lyricist -->

{{ end }}
