html, body {
	height: 100%;
}

.site-header {
	background: #333;
}

.site-title {
	color: #ddd;
	font-family: times;
	font-variant-caps: small-caps;
	text-align: center;
	width: 100%;
}

.song-index-link {
	color: #115;
	font-weight: bold;
	text-decoration: none;
}
