<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {{ .Site.Title }}{{ if not .IsHome }} - {{ .Page.Title }}{{ end }}
    </title>

    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />

    <script src="/js/freedjazz.js"></script>
    <link rel="stylesheet" href="/css/freedjazz.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ .Site.BaseURL }}">Freed Jazz</a>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ .Site.BaseURL }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/richardjs/freed-jazz">Repo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ .Site.BaseURL }}contact/">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      {{ block "main" . }}{{ end }}
    </div>
  </body>
</html>
