<table class="table">
  <thead>
    <tr>
      <th scope="col">Tune</th>
      <th scope="col">Composer</th>
      <th scope="col">Lyricist</th>
    </tr>
  </thead>
  <tbody>
    {{ range sort . ".Params.title" }}
      {{ $noIMSLP := not .Params.imslp }}
      {{ $noScore := not (os.FileExists (path.Join "scores" .File.ContentBaseName)) }}
      <tr class="{{ if or $noIMSLP $noScore }}fst-italic fw-light{{ end }}">
        <td>
          <a class="index-song-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{- if $noIMSLP }} <small class="fst-normal fw-medium">[no IMSLP]</small> {{ end -}}
          {{- if $noScore }} <small class="fst-normal">[no score]</small> {{ end -}}
        </td>
        <td>
          {{ if .Params.composers }}
            {{- delimit .Params.composers ", " " & " -}}
          {{ end }}
        </td>
        <td>
          {{ if .Params.lyricists }}
            {{- delimit .Params.lyricists ", " " & " -}}
          {{ end }}
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
