{{ define "main" }} {{ $songPages := where .Site.RegularPages ".Section" "songs"}}

<h1 class="display-5 site-title">Jazz Standards in the U.S. Public Domain</h1>

<p class="lead">
  In the United States, compositions published 95 years ago are in the public
  domain. This includes many jazz standards. Freed Jazz catalogues and
  publishes lead sheets for these tunes. All of our work is itself released
  into the public domain, <strong>unencumbered by U.S. copyright restrictions
  and free of cost.</strong>
</p>

<p>
  There are currently <strong>{{ len $songPages }} tunes</strong> in the
  collection:
</p>

{{ partial "song-columns.html" $songPages }}

<p>
  We're actively adding tunes, and every year more enter the public domain.</a>
</p>

<p>
  Our work builds on top of the invaluable cataloging work of <a
  href="https://imslp.org">IMSLP</a> and is inspired by the wonderful <a
  href="https://standardebooks.org/">Standard Ebooks</a> project. Our chord
  charts mirror <a href="https://www.irealpro.com/">iReal Pro</a>.
</p>

{{ end }}
