{{ define "main" }} {{ $plural := .Data.Plural }}

<h1>{{ .Title }}</h1>

{{ with .Data.Terms }}
<p class="lead">
  There are currently <strong>{{ . | len }} {{ $plural }}</strong> in the
  collection:
</p>
{{ end }}

<ul>
  {{ range $term, $pages := .Data.Terms }}
  <li><a href="#{{ $term }}">{{ .Page.Title }}</a> ({{ len $pages }})</li>
  {{ end }}
</ul>

{{ range $term, $pages := .Data.Terms }}

<div class="mb-5">
  <h2 id="{{ $term }}">{{ .Page.Title }}</h2>
  {{ partial "song-table.html" $pages }}
  <p><a href="#top">Back to top</a></p>
</div>

{{ end }} {{ end }}
